body {
    background-color: #73afc9
}

.mainTitle{
    color: red;
}

.themeColor {
    color: #086970;
}

.secondParagraph {
    color: chocolate;
    font-weight: bold;
}

p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

